(1) 在 /opt/ 文件夹下新建 RLM 目录

(2) 将需要的 rlm 二进制文件和 .lic .set .opt 拷贝至 /opt/RLM/ 目录下

(3) 在 /var/log/ 下新建 RLM 文件夹

(4) 在 /usr/lib/systemd/system/ 目录下新建 RLM.service 文件，写入如下内容

[Unit]
Description=Reprise License Manager

[Service]
Environment="LANG=C"
ExecStart=/opt/RLM/rlm -dlog +/var/log/RLM/RLM.dlog
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

(6) 使用 systemctl daemon-reload 重载 unit 的配置文件

(7.1) systemctl start RLM 来启动服务
(7.2) systemctl reload RLM 重读 RLM 引用的文件
(7.3) systemctl stop RLM 来关闭服务

(8) systemctl enable/disable RLM 来 开启/关闭 RLM 的开机自动启动

(9) 为了可以通过网络来验证，需要固定 HOST 和 ISV 使用的端口号，这个项目需要修改 .lic 文件
	在 .lic 文件的 HOST 行的第 4 个参数写入 RLM 使用的 端口号
	在 .lic 文件的 ISV 行 以 port= 写入 ISV 将使用的 端口号

(10) 为了独立 各个 ISV 的 log，可以添加/编辑 <ISV>.opt 文件
	并在其后追加 DEBUGLOG +/<absolutePathToISVLog>.dlog

(12) 在 firewall-cmd 的永久区中添加新的服务，并将 HOST 和 ISV 行指定的 port 都添加进来
	并将 新增的服务添加至 public 域
	接着重载 firewalld
